/* Website Design 1*/
* {
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.logo {
    width: 125px;
    float: right;
    position: absolute;
    top: 150px;
    right: 100px;
}

.titulo {
    font-size: 270%;
    color: black;
    background-color: aliceblue;
    border: 1.5px solid;
    height: 200px;
    background-image: url(./assets/design1_image1.jpg);
    background-size: cover;
    background-position-y: center;
}

.h2subtitulos {
    text-align-last: center;
    background: local;
    background-size: 500px;
    background-color: black;
    color: white;

}

nav {
    font-size: larger;
    position: relative;
    top: 10px; left: 10px;
    line-height: 50px;
}
nav>a{
    display: block;
}

section,
.contact {
    line-height: 30px;
    max-width: 70%;
    position: absolute;
    top: 250px;
    left: 200px;
}